{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
      <!-- FORM HERE -->
    </div>
    {% for post in user.posts.iterator %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ user.username }}</a>
                    <small class="text-muted">{{ post.last_edit_date }}
                        <a href="#">edit</a> |
                        <a href="#">delete</a>
                    </small>
                </div>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}
